# Log files
logs/
*.log

# DOMjudge sensitive data and backups
domjudge/admin_password.txt
domjudge/*.tar
domjudge/*.tar.gz
domjudge/*.sql

# ICPC Tools
icpc_tools/cds/data/
!icpc_tools/cds/data/.gitkeep
icpc_tools/cds/accounts.yaml
icpc_tools/presentations-2.6.1331/users.xml
icpc_tools/**/logs/

# Temporary folders
linkedin/